* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  padding: 1rem;
  min-height: 100vh;
}

main.css {
  background: hsl(12, 86%, 48%);
}

main.js {
  background: hsl(233, 71%, 40%);
}

strong {
  font-weight: bold;
}
