
.container {
	padding: 1rem 0;
	display: flex;
}

.container > *:not(:first-child) {
	margin-left: 0.8rem;
	
}

.type {
	padding: 0.5rem 0;
	width: 80px;
	flex-grow: 0;
}

.name {
	composes: textfield from './common.css';
	width: 120px;
	flex-grow: 0;
}

.description {
	composes: textfield from './common.css';
	flex-grow: 1;
}
