
.container {
	padding: 1rem 0;
}

.label {
	composes: label from './common.css';
}

.field {
	width: 100%;
	background-color: white;
	line-height: 1.6em;
	padding: 3px 8px;
	border: solid 1px lightgray;
}
